@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap'); */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Noto Sans KR', sans-serif;
}

html,
body {
  overflow-x: hidden;
  width: 100vw;
}

@layer components {
  .container-custom {
    @apply w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  .nav-link {
    @apply px-3 py-2 text-gray-700 hover:text-primary transition duration-150;
  }

  .btn-primary {
    @apply bg-primary text-white py-2 px-4 rounded-md hover:bg-opacity-90 transition duration-150;
  }

  .card-hover {
    @apply transition-transform duration-200 hover:scale-105;
  }
}